body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    min-height: 100vh;
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider img.active {
    display: block;
    opacity: 1;
}

.header {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    color: blue;
}

.thumbnails {
    margin-top: auto;
    text-align: center;
    padding: 10px;
}

.thumbnail-box {
    border: 1px solid #d6d6d6;
    padding: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.thumbnail-row {
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.thumbnail-column {
    flex: 0 0 auto;
}

.thumbnails img {
    width: 40px;
    height: auto;
    cursor: pointer;
    margin: 3px;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

.thumbnails img:hover {
    filter: grayscale(0%);
}

.thumbnails img.active {
    filter: grayscale(0%);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}
